@charset "UTF-8";
.hero {
  font-family: 'Poppins', sans-serif;
  align-items: center; }
  .hero .bg-s {
    background-color: white;
    margin: 0; }
    .hero .bg-s .nav__logo {
      width: 20%; }
      .hero .bg-s .nav__logo .nav__menu {
        margin-right: 10%;
        width: 35%;
        cursor: pointer;
        z-index: 100; }
        .hero .bg-s .nav__logo .nav__menu .nav__item {
          text-align: center; }
          .hero .bg-s .nav__logo .nav__menu .nav__item .nav__list {
            position: absolute;
            background-color: white;
            list-style: none;
            color: white; }
            .hero .bg-s .nav__logo .nav__menu .nav__item .nav__list .nav__link {
              color: #fff;
              font-weight: 500;
              position: relative;
              padding-bottom: 8%;
              margin: 0 1rem;
              color: #fff;
              /* HEADER CON MAIN */ }
              .hero .bg-s .nav__logo .nav__menu .nav__item .nav__list .nav__link .autoslide-one {
                margin-top: 7%;
                height: 3rem; }

/* PRIMER SLIDER*/
.img-s {
  border-radius: 7%; }
  .img-s .c-slide {
    margin: 5%; }
    .img-s .c-slide .img-slide {
      display: none; }
      .img-s .c-slide .img-slide .c-slide-h1 {
        flex-direction: column; }
        .img-s .c-slide .img-slide .c-slide-h1 .carousel-control-next-icon {
          background-color: #0cd857;
          border-radius: 1rem; }
          .img-s .c-slide .img-slide .c-slide-h1 .carousel-control-next-icon .carousel-control-prev-icon {
            background-color: #0cd857;
            border-radius: 1rem; }
            .img-s .c-slide .img-slide .c-slide-h1 .carousel-control-next-icon .carousel-control-prev-icon .carousel-indicators button {
              background-color: #38684A; }

/*TARJETA LINK*/
.card-contain {
  margin: 15%; }
  .card-contain .card-title {
    text-align: center; }
    .card-contain .card-title .card-text {
      font-size: 1.2rem !important; }
      .card-contain .card-title .card-text .btnn-card {
        margin-left: 25%;
        margin-top: 10%;
        margin-bottom: 5%;
        background-color: #38684A;
        border: none; }

/* NOSOTROS  */
.about__img {
  padding-top: 5%;
  padding-bottom: 10%;
  display: block;
  margin: 0 auto;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  background-attachment: fixed; }
  .about__img .h2-nosotros {
    margin-left: 8%;
    text-align: center;
    color: #810d0d;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif; }
    .about__img .h2-nosotros .p-nosotros {
      font-family: 'Poppins', sans-serif;
      text-align: center;
      color: #427a57;
      margin: 0 5%;
      /* Elimina el margen predeterminado del párrafo */
      margin-bottom: 20%;
      padding: 0;
      /* Elimina el relleno predeterminado del párrafo */
      box-sizing: border-box;
      /* Incluye el relleno y el borde en el ancho total */ }

/* OBJETIVOS */
.objetivos__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .objetivos__main .objetivos__img {
    width: 100%;
    height: 90%; }
    .objetivos__main .objetivos__img .objetivos__texts, .objetivos__main .objetivos__img .h2-objetivos, .objetivos__main .objetivos__img .p-objetivos {
      padding: 10% 0;
      font-family: 'Poppins', sans-serif;
      flex-direction: column;
      align-items: center;
      font-size: 1.3rem;
      margin-bottom: 3rem;
      color: #fff; }
      .objetivos__main .objetivos__img .objetivos__texts .h2-objetivos, .objetivos__main .objetivos__img .h2-objetivos .h2-objetivos, .objetivos__main .objetivos__img .p-objetivos .h2-objetivos {
        text-align: center;
        color: #810d0d;
        font-size: 3rem;
        font-family: 'Poppins', sans-serif; }
        .objetivos__main .objetivos__img .objetivos__texts .h2-objetivos .p-objetivos, .objetivos__main .objetivos__img .h2-objetivos .h2-objetivos .p-objetivos, .objetivos__main .objetivos__img .p-objetivos .h2-objetivos .p-objetivos {
          font-family: 'Poppins', sans-serif;
          text-align: center;
          color: #427a57;
          margin: 0 5%;
          /* Elimina el margen predeterminado del párrafo */
          margin-bottom: 20%;
          padding: 0;
          /* Elimina el relleno predeterminado del párrafo */
          box-sizing: border-box;
          /* Incluye el relleno y el borde en el ancho total */ }

/*PAGINA DE COMPRA*/
.s-page-buy {
  transition: all ease .55s;
  font-size: 1,5rem;
  margin: 0;
  font-family: 'Courier New', Courier, monospace; }
  .s-page-buy .b-btn {
    margin: 0; }
    .s-page-buy .b-btn .page-buy {
      transition: all ease .55s; }
      .s-page-buy .b-btn .page-buy .p-h1 {
        margin: 7%; }
        .s-page-buy .b-btn .page-buy .p-h1 .slider-product {
          margin: 5%; }
          .s-page-buy .b-btn .page-buy .p-h1 .slider-product .img-product {
            border-radius: 7%; }
            .s-page-buy .b-btn .page-buy .p-h1 .slider-product .img-product .btn {
              margin-left: 25%;
              font-family: 'Archivo', sans-serif;
              font-weight: 0;
              font-size: 1rem;
              padding: 2% 15%;
              color: #fff;
              background-color: #38684a;
              border: solid #38684a;
              box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
              border-radius: 1rem;
              cursor: pointer; }
              .s-page-buy .b-btn .page-buy .p-h1 .slider-product .img-product .btn .btn:hover {
                padding: 2% 15%;
                background-color: #fff;
                color: #38684a;
                border: solid #38684a; }

/*ACORDEON*/
.acordeon-d {
  margin: 10%;
  margin-bottom: 10%; }
  .acordeon-d .acordeon-a {
    background-color: #38684A;
    color: #fff; }
    .acordeon-d .acordeon-a .acordeon-d::after {
      background-color: #18181a; }

/* footer */
.footer {
  background-color: var(--green); }
  .footer .footer__container {
    height: 10%; }
    .footer .footer__container .footer-img-logo {
      width: 25%;
      margin-left: 37%; }
      .footer .footer__container .footer-img-logo .footer-nav {
        color: white; }
        .footer .footer__container .footer-img-logo .footer-nav .footer__contact {
          align-content: center;
          display: flex;
          justify-content: center;
          list-style: none;
          padding: 0; }
          .footer .footer__container .footer-img-logo .footer-nav .footer__contact .f-h2 {
            color: white;
            margin-top: 5%;
            font-size: 1.5rem;
            text-align: center; }
            .footer .footer__container .footer-img-logo .footer-nav .footer__contact .f-h2 .f-d {
              color: white;
              font-size: 1em;
              text-align: center; }
              .footer .footer__container .footer-img-logo .footer-nav .footer__contact .f-h2 .f-d .f-a {
                font-family: 'Courier New', Courier, monospace;
                margin: 0;
                font-size: .8rem;
                text-align: center; }
                .footer .footer__container .footer-img-logo .footer-nav .footer__contact .f-h2 .f-d .f-a .footer__link {
                  text-decoration: none;
                  color: white;
                  margin: .3rem;
                  align-items: center;
                  justify-content: center;
                  background-color: var(--color); }
                  .footer .footer__container .footer-img-logo .footer-nav .footer__contact .f-h2 .f-d .f-a .footer__link .footer__img {
                    width: 80%;
                    display: flex; }
                    .footer .footer__container .footer-img-logo .footer-nav .footer__contact .f-h2 .f-d .f-a .footer__link .footer__img .wsp {
                      position: fixed;
                      bottom: 50%;
                      left: 85%;
                      z-index: 10000;
                      box-shadow: 10% black; }
                      .footer .footer__container .footer-img-logo .footer-nav .footer__contact .f-h2 .f-d .f-a .footer__link .footer__img .wsp .wsp-h1 {
                        font-size: 1rem;
                        color: #18181a;
                        padding: 3rem 0; }
                        .footer .footer__container .footer-img-logo .footer-nav .footer__contact .f-h2 .f-d .f-a .footer__link .footer__img .wsp .wsp-h1 hr {
                          color: #fff; }
                          .footer .footer__container .footer-img-logo .footer-nav .footer__contact .f-h2 .f-d .f-a .footer__link .footer__img .wsp .wsp-h1 hr iframe {
                            width: 100%;
                            height: 100%;
                            margin-top: 5%;
                            margin-bottom: 10%; }

/* CONTACTO */
.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10%;
  width: 100%; }
  .contact-form .content-form {
    background-color: #fff;
    border-radius: 5%;
    box-shadow: 0 0 5rem #B1E4CB;
    padding: 7%; }
    .contact-form .content-form .form-group {
      margin-bottom: 5rem; }
      .contact-form .content-form .form-group .form-group label {
        display: block;
        margin-bottom: 1rem;
        font-weight: 600; }
        .contact-form .content-form .form-group .form-group label .form-group input,
        .contact-form .content-form .form-group .form-group label .form-group textarea {
          display: block;
          width: 100%;
          padding: .5rem;
          border-radius: 5%;
          border: none;
          background-color: #f2f2f2; }
          .contact-form .content-form .form-group .form-group label .form-group input .animated-button,
          .contact-form .content-form .form-group .form-group label .form-group textarea .animated-button {
            margin: 0 15%;
            background-color: var(--green);
            color: #dbdbdb;
            border: none;
            border-radius: 10% 10%;
            padding: 5% 20%;
            font-size: 1rem; }
            .contact-form .content-form .form-group .form-group label .form-group input .animated-button .animated-button:hover,
            .contact-form .content-form .form-group .form-group label .form-group textarea .animated-button .animated-button:hover {
              background-color: white;
              border: solid var(--green-2);
              color: #38684A;
              padding: 5% 20%;
              border-radius: 10% 10%;
              font-size: 1rem; }

@media (min-width: 768px) {
  .hero {
    z-index: 1000;
    display: block; }
    .hero .bg-s {
      background-color: white; }
      .hero .bg-s .bg-nav {
        background-color: #38684A;
        display: flex;
        align-items: center; }
        .hero .bg-s .bg-nav .nav__logo {
          width: 150px;
          margin: 0 400px; }
          .hero .bg-s .bg-nav .nav__logo .nav__menu {
            height: 100px;
            width: 35px;
            cursor: pointer;
            z-index: 100;
            border-radius: 5px; }
            .hero .bg-s .bg-nav .nav__logo .nav__menu .nav__link {
              text-decoration: none;
              color: #fff;
              font-weight: 500;
              font-size: 18px;
              align-items: center;
              position: relative;
              padding-bottom: 8px;
              margin: 0 15px;
              color: #fff;
              gap: 15px;
              text-decoration: none; }
              .hero .bg-s .bg-nav .nav__logo .nav__menu .nav__link .nav__link::after {
                color: white;
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                background-color: #ffffff;
                transition: width 0.3s ease; }
                .hero .bg-s .bg-nav .nav__logo .nav__menu .nav__link .nav__link::after .nav__link:hover::after {
                  background-color: #ffffff;
                  width: 100%; }
  .slider-content {
    background-image: url(../assets/undraw_blooming_re_2kc4.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right; }
    .slider-content .autoslide-one {
      top: 0;
      margin-top: 40px;
      margin-left: 500px;
      height: 100px;
      width: 1000px; }
  /* PRIMER SLIDER*/
  .img-s {
    border-radius: 10px; }
    .img-s .c-slide {
      padding: 10px 70px;
      position: relative;
      margin: 10px 100px;
      width: 550px; }
      .img-s .c-slide .visually-hidden {
        color: #38684A; }
  .flex-card {
    margin: 100px 0;
    margin-left: 70px;
    box-shadow: 0px 0px 70px #18181a;
    border-radius: 40px 40px;
    /* Ajusta la sombra según tus preferencias */
    display: flex;
    width: 600px;
    /* Ajusta el ancho de la tarjeta */
    height: 600px;
    /* Ajusta la altura de la tarjeta */ }
    .flex-card .card-title {
      text-align: center; }
      .flex-card .card-title .card-text {
        font-size: 345px; }
        .flex-card .card-title .card-text .btnn-card {
          margin-left: 25%;
          margin-top: 10%;
          margin-bottom: 5%;
          background-color: #38684A;
          border: none; }
          .flex-card .card-title .card-text .btnn-card .card-contain {
            background-image: url(../assets/de\WhatsApp\2023-08-014.jpg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: right center;
            height: 500px;
            width: 82vw; }
            .flex-card .card-title .card-text .btnn-card .card-contain .s-page-buy {
              display: flex;
              flex-direction: row;
              align-items: flex-start;
              justify-content: flex-start;
              /* Establece el ancho máximo para el contenedor del carrusel */ }
              .flex-card .card-title .card-text .btnn-card .card-contain .s-page-buy .slider-product {
                max-width: 500px;
                /* Ajusta el valor según tus necesidades */
                /* Alinea los botones del carrusel horizontalmente */ }
                .flex-card .card-title .card-text .btnn-card .card-contain .s-page-buy .slider-product .carousel-control-prev,
                .flex-card .card-title .card-text .btnn-card .card-contain .s-page-buy .slider-product .carousel-control-next {
                  align-self: center;
                  /* Estilo para el botón "Comprar" */ }
                  .flex-card .card-title .card-text .btnn-card .card-contain .s-page-buy .slider-product .carousel-control-prev .btn,
                  .flex-card .card-title .card-text .btnn-card .card-contain .s-page-buy .slider-product .carousel-control-next .btn {
                    font-family: 'Archivo', sans-serif;
                    font-weight: 0;
                    font-size: 16px;
                    padding: 10px 50px;
                    color: #fff;
                    background-color: #38684a;
                    border: solid #38684a;
                    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
                    border-radius: 1rem;
                    cursor: pointer; }
                    .flex-card .card-title .card-text .btnn-card .card-contain .s-page-buy .slider-product .carousel-control-prev .btn .btn:hover,
                    .flex-card .card-title .card-text .btnn-card .card-contain .s-page-buy .slider-product .carousel-control-next .btn .btn:hover {
                      padding: 10px 50px;
                      background-color: #fff;
                      color: #38684a;
                      border: solid 2px #38684a; }
  /*ACORDEON*/
  .acordeon-a {
    background-color: #38684A;
    color: #fff; }
  /* Ajusta el acordeón para evitar que afecte al carrusel */
  .about__row {
    display: flex;
    /* Utilizamos Flexbox para crear una fila */
    flex-direction: row; }
    .about__row .about__img {
      width: 800px;
      padding: 100px;
      margin-left: 10px;
      height: 1000px; }
      .about__row .about__img article, .about__row .about__img .p-nosotros, .about__row .about__img .h2-nosotros {
        margin-top: 100px;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; }
        .about__row .about__img article .p-nosotros, .about__row .about__img .p-nosotros .p-nosotros, .about__row .about__img .h2-nosotros .p-nosotros {
          color: #831b1b;
          font-family: 'Courier New', Courier, monospace;
          font-size: 20px; }
          .about__row .about__img article .p-nosotros .h2-nosotros, .about__row .about__img .p-nosotros .p-nosotros .h2-nosotros, .about__row .about__img .h2-nosotros .p-nosotros .h2-nosotros {
            font-family: 'Courier New', Courier, monospace;
            font-size: 90px;
            color: #000000; }
  .objetivos__main {
    background-image: url("../assets/Blowing rocket 3d cart.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .objetivos__main .p-objetivos {
      flex-direction: row; }
      .objetivos__main .p-objetivos .footer {
        background-color: #38684A;
        position: block; }
        .objetivos__main .p-objetivos .footer .footer__container {
          height: 90vh; }
          .objetivos__main .p-objetivos .footer .footer__container .footer-img-logo {
            width: 25%;
            margin-left: 37%; }
            .objetivos__main .p-objetivos .footer .footer__container .footer-img-logo .footer-nav {
              color: white; }
              .objetivos__main .p-objetivos .footer .footer__container .footer-img-logo .footer-nav .footer__contact {
                align-content: center;
                display: flex;
                justify-content: center;
                list-style: none;
                padding: 0; }
                .objetivos__main .p-objetivos .footer .footer__container .footer-img-logo .footer-nav .footer__contact .f-h2 {
                  color: white;
                  margin-top: 5%;
                  font-size: 1.5rem;
                  text-align: center; }
                  .objetivos__main .p-objetivos .footer .footer__container .footer-img-logo .footer-nav .footer__contact .f-h2 .f-d {
                    color: white;
                    font-size: 1em;
                    text-align: center; }
                    .objetivos__main .p-objetivos .footer .footer__container .footer-img-logo .footer-nav .footer__contact .f-h2 .f-d .f-a {
                      font-family: 'Courier New', Courier, monospace;
                      margin: 0;
                      font-size: .8rem;
                      text-align: center; }
                      .objetivos__main .p-objetivos .footer .footer__container .footer-img-logo .footer-nav .footer__contact .f-h2 .f-d .f-a .footer__link {
                        text-decoration: none;
                        color: white;
                        margin: .3rem;
                        align-items: center;
                        justify-content: center;
                        background-color: #38684A; }
                        .objetivos__main .p-objetivos .footer .footer__container .footer-img-logo .footer-nav .footer__contact .f-h2 .f-d .f-a .footer__link .footer__img {
                          width: 80%;
                          display: flex; }
                          .objetivos__main .p-objetivos .footer .footer__container .footer-img-logo .footer-nav .footer__contact .f-h2 .f-d .f-a .footer__link .footer__img .wsp {
                            position: fixed;
                            bottom: 50%;
                            left: 85%;
                            z-index: 10000;
                            box-shadow: 10px black; }
                            .objetivos__main .p-objetivos .footer .footer__container .footer-img-logo .footer-nav .footer__contact .f-h2 .f-d .f-a .footer__link .footer__img .wsp .wsp-h1 {
                              font-size: 1rem;
                              color: #18181a;
                              padding: 3rem 0; }
                              .objetivos__main .p-objetivos .footer .footer__container .footer-img-logo .footer-nav .footer__contact .f-h2 .f-d .f-a .footer__link .footer__img .wsp .wsp-h1 hr {
                                color: #fff; }
                                .objetivos__main .p-objetivos .footer .footer__container .footer-img-logo .footer-nav .footer__contact .f-h2 .f-d .f-a .footer__link .footer__img .wsp .wsp-h1 hr iframe {
                                  width: 100%;
                                  height: 300px;
                                  margin-top: 5%;
                                  margin-bottom: 10%; } }
