
@import "utilidades/variables";
@import "utilidades/listas";
@import "utilidades/mapas";
@import "utilidades/mixin";
@import "utilidades/extend";
@import "utilidades/condicionales";

body {
    background-color: white;
  
    .hero {
    @include flex;
      .bg-nav {
        .container-fluid {
          .nav__logo {
            width: 20%;
          }
  
          .navbar-nav {
            .navbar-collapse {
                .nav-ul{
                text-align: center;
                
                .nav-item {
                  text-align: center;
                  
                  .nav-link{
                    color: rgb(255, 255, 255);
                  }
                }
              }
             }
              
            }
          }
        }
      }
       /* PRIMER SLIDER*/
.autocontain{

    .autoslide-one{
        margin-top: 3%;
        height: 3rem;
        margin-bottom: 3%;
        background-color: $color-principal;
    }
}
 .slider-content{
   .c-slide{
    margin: 2rem;
    margin-bottom: 1rem;
   .carousel-inner{
      .carousel-item{
        .img-s{
          border-radius: 2rem;
             }
         }
     }                       
 }
 .carousel-control-next-icon{
   background-color: map-get($carousel-bgcolor, carousel-color );
   border-radius: 1rem;}
   .carousel-control-prev-icon{
       background-color: map-get($carousel-bgcolor, carousel-color );
       border-radius: 1rem;
     }
  } 
.contain{
 display: none;
 }   
 .grid{
  margin-right: 2rem;
   .contain{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 1rem;
    .grid-img {
     @include grid-img1;
       }
    } 
 }     
/*TARJETA LINK*/
.card-contain{
   @include card-contain;
    margin-top: 10%;
     .flex-card{
      border-radius: 1rem 1rem 1rem;
      padding: 1rem;
      box-shadow: .3rem 1rem 2rem rgb(91, 126, 91);
      .card-img-top{
        padding: 1px;
        border-radius: 1rem 1rem;
            }
        .card-body{
         top: 1rem;
        .card-title{
         text-align: center;
         font-family: nth( $fuentes, 1 );
         font-size: 1.5rem;
         color: $color-principal;
         font-weight: bold;
        }
        .card-text{
             font-size:1.2rem!important ;
             text-align: center;
             padding: 1rem;
             font-family: nth( $fuentes, 1 );
             font-weight: bold;
         }
         .hr-card{
            padding-top: 1rem;
         }
        .btnn-card{
         margin-left: 35%;
         margin-top: 10%;
         margin-bottom: 5%;
         background-color: $color-principal;
         border: none;
                }
              }
            }
          
           }
        
          

/* NOSOTROS  */
.about__row{
    
    .container{
      display: flex;
      flex-direction: column;
      .about__img{
        padding-top: 5%;
        display: block;
        width: map-get($nosotros-img, nosotros-width );
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: top;
        border-radius: 50%;
         background-attachment: fixed;
   }
            .row-6{
              padding-top: -10%;
             margin-left: 1%;
            text-align: center;
            color: rgb(129, 13, 13);
            font-size: 3rem;
            font-family: nth( $fuentes, 1 );
            font-weight: bold;
            }
                .row-12{
                font-family: nth( $fuentes, 1 );
                text-align: center;
                color: $color-secundario;
                margin: 0 5%; /* Elimina el margen predeterminado del párrafo */
                margin-top: 10%;
                margin-bottom: 20%;
                padding: 0; /* Elimina el relleno predeterminado del párrafo */
                box-sizing: border-box; /* Incluye el relleno y el borde en el ancho total */
                font-weight: bold;
            }
      }
  }
    



/* OBJETIVOS */
.objetivos__main{
    height: 100vh;
    .container-fluid{
        text-align: center;
        .col-6{
          margin-top: 10%;
          color: $color-principal;
          margin-left: 7rem;
          top: 20%;
          font-size: 3rem;
          font-weight: bold;
        }
        .col-12{
         font-family:nth( $fuentes, 2 );
         top: 10%;
         font-weight: bold;
        }
        .objetivos__img{
         width: map-get($objetivos-img, objetivos-width );
         height: map-get($objetivos-img, objetivos-height);
      } 
   }
}
 /*PAGINA DE COMPRA*/
.s-page-buy{
    font-size: 1,5rem;
    margin:0;
    font-family: nth( $fuentes, 4 );
    background-color: white;
    flex-direction: column;
    .content-page{
      .left-section{
        .p-h1{
            font-family: nth( $fuentes, 1 );
            margin: 10%;
            font-weight: bold}
            .btn{
              @include btn;
      }
    }
  }    
 .slider-product{
   padding: 10%;
      .carousel-inner{
          border-radius: 12%;
        .img-product
                {
          border-radius: 10%;
          padding: 1%;         
                }
                .carousel-control-prev-icon{
                  background-color: map-get($carousel-bgcolor, carousel-color );
                  border-radius: 1rem;
                }
                .carousel-control-next-icon{
                  background-color: map-get($carousel-bgcolor, carousel-color );
                  border-radius: 1rem;
                }
            }
          }
        }
/*ACORDEON*/
.acordeon-d{
    margin: 10%;
    margin-bottom: 10%;
    .acordeon-a{
        background-color:  $color-principal;
        color: #fff;
        .acordeon-d::after{
            background-color: #18181a;
          }
      }
  }
  /* footer */
.footer{
    background-color:  $color-principal;
    z-index: 2000;
 .footer__container {
        height: 10%;
         .footer-nav{
            color:white;
            .footer__link{
                text-decoration: none;
                color: white;
                margin: .8rem;
                align-items: center;
                justify-content: center;
                background-color:  $color-principal;
       }
     }
 }
 .f-h2{
  color: white;
  margin-top: 5% ;
  font-size:1.5rem ;
  text-align: center;
 }
  .footer__contact{
   align-content: center;
   display: flex;
   justify-content: center;
   list-style: none;
   padding: 0;
    .footer__item{     
      .footer__img{
          width: 80%;
           display: flex;    
          }
     }
 }
   
.f-d{
    color: white;
      font-size:1em ;
         text-align: center;
         }
        iframe{
         width: 100%;
           height: 100%;
             margin-top: 5%;
              margin-bottom: 10%;
                z-index: 2000;
                }
                             .wsp{
                             position: fixed;
                             bottom: 10%;
                             left: 87%;
                             z-index: 500;
                             
                                            
                             }

                                 hr{
                                 color: #fff;  }
                                 .footer__link{
                                    color: white;
                                    text-decoration: none;
                                 }
                                                    
                                }                                         
                                            
                               
                        

              
    
 

   /* CONTACTO */
   .contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10%;
    width: 100%;

    .content-form{
        background-color: #fff;
        border-radius: 5%;
        box-shadow: 0 0 5rem  $color-secundario;
        padding: 7%;
       form{
        .form-group {
            margin-bottom: 5rem;

            .form-group , label {
                display: block;
                margin-bottom: 1rem;
                font-weight: 600;
            }
                .form-group input{
                .form-group textarea {
                        display: block;
                        width: 100%;
                        padding: .5rem;
                        border-radius: 5%;
                        border: none;
                        background-color: #f2f2f2;
                }
            }
            }
                                                            
                    .animated-button {
                     margin: 0 20%;
                     background-color:  $color-principal;
                     color: #dbdbdb;
                     border: none;
                     border-radius: 1rem 1rem 1rem;
                     padding: 1% 20%;
                     font-size: 1rem;
                    }   
                     .animated-button:hover{
                      background-color: white;
                      transition: all ease .11s;
                      border: solid $color-secundario;
                      color:  $color-principal;
                      padding: 1% 20%;
                      border-radius: 1rem 1rem 1rem;
                      font-size: 1rem;

                            }
                        }
                    }

              }
              
            
          
    /* Media query para tablet (ancho mínimo de 1024px) */
@media (min-width: 1024px) {
.hero {
  @include flex;
  .bg-nav {
    .container-fluid {
      .nav__logo {
        width: 30%;
      }
      // ... otros estilos
    }
  }
}

  .autocontain {
  
    .autoslide-one{
   @include autoslide-t;
      
    }
  }

  .slider-content{
    .c-slide{
    margin: 32px;
    margin-bottom: 16px;
       
            .carousel-inner{
                .carousel-item{
                .img-s{
             border-radius: 2rem;
                }
            }
      }
                  
    }
 
}
  .about__row {
    
  }

  .objetivos__main {
    .container-fluid{
      .col-6{}
      .col-12{}
      .objetivos__img{
        width: 600px;
      }
    }
  }
  .card-contain {
    @include card-contain;
    
      .flex-card {
        border: 1px solid #ccc;
        display: flex;
        flex-direction: column;
    
        .card-body {
        @include flex-2;
      
        
          .texts {
          
    
            .card-img-top {
              margin-bottom: 10px;
              width: 100%;
              height: auto;
            }
    
            .card-title {
              font-size: 1.5rem;
              font-weight: bold;
            }
    
            .hr-card {
              margin: 0;
              border-top: 10px solid $color-principal;
              width: 100%;
            }
    
            .card-text {
              font-size: 1rem;
            }
          }
    
          .mt-auto {
            margin-top: auto;
            text-align: center;
          }
    
          .btnn-card {
            margin-left: -5px;
          }
          
        }
      }
    }
  /* ... otros estilos para tablet */
}
.grid{
                        
  .contain{
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-gap: 15px;
   .grid-img {
    @include grid-img;
  }
} 
.s-page-buy{
  font-size: 1,5rem;
  margin:0;
  font-family: nth( $fuentes, 4 );
  background-color: white;
  
  flex-direction: column;
  .content-page{
    .left-section{
  
      .p-h1{
          font-family: nth( $fuentes, 1 );
          margin: 10px;
          font-weight: bold}
          .btn{
            @include btn;
             }
          
     
                              } }    

      .slider-product{
       padding: 10px;
            .carousel-inner{
              border-radius: 12%;
      .img-product
              {
        border-radius: 10%;
        padding: 1%;
                      
              }
              .carousel-control-prev-icon{
                background-color: $color-secundario;
                margin-left: -5%;
                
              }
              .carousel-control-next-icon{
              background-color: $color-secundario;
              margin-left: 1px;
              }
              
          }
        }
          
      }
}     
}

  @media (min-width:768px) {
    body {
        background-color: white;
      
        .hero {
        @include flex;
          .bg-nav {
            .container-fluid {
              .nav__logo {
                width: 20%;
              }
      
              .navbar-nav {
                .navbar-collapse {
                    .navbar-nav{
                    text-align: center;
                    
                    .nav__item {
                      text-align: center;
                      
                      .nav-link{
                        color: rgb(255, 255, 255);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }     
           /* PRIMER SLIDER*/
.autocontain{
  .autoslide-one{
    @include autoslide;
     }
 }
  .slider-content{
       .c-slide{
       display: none;
       }
   }          
  .carousel-control-next-icon{
   background-color:  map-get($carousel-bgcolor, carousel-color );
     border-radius: 1rem;}
    .carousel-control-prev-icon{
     background-color:  map-get($carousel-bgcolor, carousel-color );
    border-radius: 1rem;               
    }
 }                    
.grid{
  .contain{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 15px;
  .grid-img {
    @include grid-img;
    }
    .grid-img:hover {
    -webkit-filter: grayscale(0);
      filter: grayscale(0);
        }
    } 
 }               
    /*TARJETA LINK*/
    .card-contain {
    @include card-contain;
      .flex-card {
        border: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        .card-body {
        @include flex-2;
          .texts {
            .card-img-top {
              margin-bottom: 10px;
              width: 100%;
              height: auto;
            }
    
            .card-title {
              font-size: 1.5rem;
              font-weight: bold;
            }
    
            .hr-card {
              margin: 0;
              border-top: 10px solid $color-principal;
              width: 100%;
            }
    
            .card-text {
              font-size: 1rem;
            }
          }
    
          .mt-auto {
            margin-top: auto;
            text-align: center;
          }
    
          .btnn-card {
            margin-left: 10px;
          }
          
        }
      }
    }
    
    
      
    
    /* NOSOTROS  */
    
    
    .about__row{
        .container{
            display: flex;
            flex-direction: row;
            
        .about__img{
             @include about-img;
        }
                .row-6{
                margin-top:300px ;
                margin-left: 50px;
                color: rgb(129, 13, 13);
                font-size: 3rem;
                font-family:nth( $fuentes, 1 );
                }
                    .row-12{
                    @include row-12;
                }
            }
           }
        
    
    
    
    /* OBJETIVOS */
    
    .objetivos__main{
        height: 100vh;
        
        .container-fluid{
            text-align: center;


            .col-6{
              margin-top: 10%;
              color: $color-principal;
              margin-left: 112px;
              top: 20%;
              font-size: 48px;
              text-align: center;
            }
            .col-12{
             font-family: sans-serif;
             top: 10%;
             
            }
            .objetivos__img{
                width: 40%;
                
            }
          
                
       }
    }
      
     /*PAGINA DE COMPRA*/

    .s-page-buy{
        height: 1000px;
        transition: all ease .55s;
        font-size:36px;
        margin:0;
        font-family: nth( $fuentes, 4 );
        background-color: white;
        
        
        .content-page{  
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .left-section {
      width: 1000px;
      /* Estilos adicionales para la sección izquierda */
    }

    .right-section {
      width: 1000px;
      /* Estilos adicionales para la sección derecha (slider-product) */
    }
  
       
            .p-h1{
                font-family: nth( $fuentes, 1 );
               margin-left: 200px;
               margin-top: 100px;
               margin-bottom: 100px;
               font-weight: bold
                }
                .btn{
                @include btn;
                   }
                   .btn:hover{
                    padding: 1% 10%;
                    background-color: #fff;
                    color: $color-principal;
                   border: solid $color-principal;
                } 
            }
          }
        .slider-product{
          width: 700px;
          margin-left: 50px;
         .img-product{
          border-radius: 10px;
         }
         
          .carousel-control-prev-icon{
            background-color: rgb(0, 255, 13);
            margin-left: -100px;
            border-radius: 30px;
          }
          .carousel-control-next-icon{
            background-color: rgb(0, 255, 13);
            border-radius: 30px;
            margin-left: 100px;
          }
          }
        
          
       
                                    
.acordeon-d{
 
  margin: 30px;
  margin-bottom: 10px;
  .accordion-item{
    border: none;
        }
      .acordeon-a{
          background-color:  $color-principal;
          color: #fff;
          padding: 30px 50px;
            .acordeon-d::after{
                background-color: #18181a;
         }
     }
 }       
    
    
   
          
     
    /*ACORDEON*/
    
    
    
     
      /* footer */
    .footer{
        background-color:  $color-principal;
        z-index: 2000;
    
     .footer__container {
            height: 10%;
             .footer-nav{
                color:white;
                .footer__link{
                    text-decoration: none;
                    color: white;
                    margin: .8rem;
                    align-items: center;
                    justify-content: center;
                    background-color:  $color-principal;
                }
             }
            }
                    .f-h2{
                        color: white;
                        margin-top: 5% ;
                        font-size:1.5rem ;
                        text-align: center;
                    }
                 .footer__contact{
                    @include flex-2;
                    list-style: none;
                    padding: 0;
                    
    
                 .footer__item{
                         
                    .footer__img{
                        width: 80%;
                        display: flex;   
                        
                    }
                }
            }
       
                    .f-d{
                    color: white;
                    font-size:1em ;
                    text-align: center;
                    }
                    iframe{
                        width: 100%;
                        height: 100%;
                        margin-top: 5%;
                        margin-bottom: 10%;
                        z-index: 2000;
                    }
                                 .wsp{
                                 position: fixed;
                                 bottom: 10%;
                                 left: 90%;
                                 z-index: 500;
                                 
                                                
                                 }
    
                                     hr{
                                     color: #fff;  }
                                     .footer__link{
                                        color: white;
                                        text-decoration: none;
                                     }
                                                        
                                    }                                         
                                                
                                   
                            
    
                  
        
     
    
       /* CONTACTO */
       .contact-form {
        @include flex-2;
        height: 100%;
        padding: 10%;
        width: 100%;
    
        .content-form{
            background-color: #fff;
            border-radius: 5%;
            box-shadow: 0 0 5rem  $color-secundario;
            padding: 7%;
           form{
            .form-group {
                margin-bottom: 5rem;
    
                .form-group , label {
                    display: block;
                    margin-bottom: 1rem;
                    font-weight: 600;
                }
                    .form-group input{
                    .form-group textarea {
                            display: block;
                            width: 100%;
                            padding: .5rem;
                            border-radius: 5%;
                            border: none;
                            background-color: #f2f2f2;
                    }
                }
                }
                                                                
                        .animated-button {
                        @include animated-button;
                        }   
                         .animated-button:hover{
                          @include animated-button-hover;
    
                                }
                            }
                        }
    
                  }
                 
