

$boton-standard:(
    bg-standard:darkgreen,
    color-standard:black,
    border-standard: 1px solid black,
    );

$boton-premium:(
    bg-premium:red,
    color-standard:white,
    border-standard: 2px solid yellow,
    );